SQLAlchemy
Werkzeug==2.2.2
python-dotenv
requests
playwright
Pillow
pyzbar
httpx
python-engineio
python-socketio
gevent
gevent-websocket
quart
quart-sqlalchemy
quart-auth
quart-wtf
Flask-SocketIO
undetected-chromedriver 