SQLAlchemy
Werkzeug
python-dotenv
requests
playwright
Pillow
pyzbar
httpx
python-engineio
python-socketio
gevent
gevent-websocket
quart
quart-sqlalchemy
quart-auth
quart-wtf
quart-socketio
undetected-chromedriver 